# =========================
# Python / Django
# =========================

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
ENV/

# Django logs
*.log

# Django static files
staticfiles/

# =========================
# Node / React
# =========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build folder
build/
dist/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================

.env

# =========================
# Coverage / testing
# =========================

.coverage
htmlcov/
.pytest_cache/

# =========================
# Misc
# =========================

*.swp
*.bak