/* Pure White Theme - No color, all white */

.App {
  background-color: #ffffff;
  min-height: 100vh;
  color: #000000;
}

.App-header {
  background-color: #bababa;
  min-height: 100vh;
  color: #000000;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

